<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to AI Chatbot</h1>
            <p>Your personal interview assistant powered by AI.</p>
        </header>

        <div class="auth-links">
            <p>Don't have an account? <a href="{{ url_for('register') }}" class="auth-link">Register</a></p>
            <p>Already have an account? <a href="{{ url_for('login') }}" class="auth-link">Login</a></p>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 AI Interview Assistant Chatbot. All Rights Reserved to Group 12.</p>
    </footer>
</body>
</html>

